<!doctype html>
<html>
<head>
<style>
#wrapper {
    width:800px;
    overflow-x:scroll;
}
@media print { /* This overwrites the css when printing */
    #wrapper {
        overflow-x:hidden;
    }
}
.mt{margin-top: 10px;}
</style>
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="static/css/application.css" rel="stylesheet" media="screen">
</head>
<h1>SL API RESPONSE CATCHER</h1>
<body>
    <div class="page-header">
        <h1>Logging</h1>
      </div>
    <pre id="chat-text"></pre>
    <script>
        var eventSource = new EventSource("/listen")
        eventSource.addEventListener("online", function(message) {
        data = JSON.parse(message.data)
        $("#chat-text").append('<div class="mt">' + data.timestamp + '</div>');
        $("#chat-text").append('<div>' + JSON.stringify(data.callback_msg, undefined, 2) + '</div>');
        $("#chat-text").stop().animate({scrollTop: $('#chat-text')[0].scrollHeight}, 800);
        }, true)
    </script>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
</body></html>


<!-- <!DOCTYPE html>
<html>
<body>

<h1>Getting server updates</h1>
<div id="result"></div>

<script>
if(typeof(EventSource) !== "undefined") {
  var source = new EventSource("/listen");
  source.onmessage = function(event) {
    console.log
    document.getElementById("result").innerHTML += event.data + "<br>";
  };
} else {
  document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
}
</script>

</body>
</html> -->