<!doctype html>
<html>
<head>
<style>
#wrapper {
    width:800px;
    overflow-x:scroll;
}
@media print { /* This overwrites the css when printing */
    #wrapper {
        overflow-x:hidden;
    }
}
</style>
</head>
<body>
<div id=wrapper>
    <script>
        var eventSource = new EventSource("/listen")
    
        eventSource.onmessage = function(e) {
          // console.log(e.data.color)
          data = JSON.parse(e.data)
          document.querySelector("#counter").innerText = data.name
        }
    
      </script>
</div>
</body></html>
